CONFIG_DEFAULT_HOSTNAME="matrixos"
CONFIG_NO_HZ_IDLE=y
CONFIG_VFIO_VIRQFD=y

# Support all modules compression
CONFIG_MODULE_COMPRESS_XZ=y
CONFIG_MODULE_COMPRESS_GZIP=y
CONFIG_MODULE_COMPRESS_ZSTD=y
CONFIG_MODULE_COMPRESS_ALL=y

# See https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/tools/sched_ext/README.md?h=v6.18.2
# SCHED_EXT
CONFIG_BPF=y
CONFIG_SCHED_CLASS_EXT=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_DEBUG_INFO_BTF=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_PAHOLE_HAS_SPLIT_BTF=y
CONFIG_PAHOLE_HAS_BTF_TAG=y

# SecureBoot
CONFIG_SYSTEM_TRUSTED_KEYS="/etc/matrixos-private/secureboot/keys/db/db.pem"
